.fade-in-down {
  animation: fade-in-down 1s cubic-bezier(0, 0.8, 0.8, 1);
}

.fade-in-up {
  animation: fade-in-up 1s cubic-bezier(0, 0.8, 0.8, 1);
}

a.fade-in-up0 {
  opacity: 1;
  animation: fade-in-up 1s cubic-bezier(0, 0.5, 0.6, 1);
}

a.fade-in-up1 {
  opacity: 1;
  animation: fade-in-up1 1.2s cubic-bezier(0, 0.6, 0.6, 1);
}
a.fade-in-up2 {
  opacity: 1;
  animation: fade-in-up2 1.4s cubic-bezier(0, 0.7, 0.6, 1);
}

a.fade-in-left0 {
  opacity: 1;
  animation: fade-in-left 1s cubic-bezier(0, 0.5, 0.6, 1);
}

a.fade-in-left1 {
  opacity: 1;
  animation: fade-in-left 1.2s cubic-bezier(0, 0.6, 0.6, 1);
}

.fade-in {
  animation: fade-in 1s ease-out;
}

.invisible {
  opacity: 0;
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    translate: 0 -5vh;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes fade-in-up {
  from {
    opacity: 0;
    translate: 0 5vh;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fade-in-up1 {
  0% {
    opacity: 0;
    translate: 0 5vh;
  }
  16.66666666666667% {
    opacity: 0;
    translate: 0 5vh;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fade-in-up2 {
  0% {
    opacity: 0;
    translate: 0 5vh;
  }
  28.57142857142857% {
    opacity: 0;
    translate: 0 5vh;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes fade-in-left {
  from {
    opacity: 0;
    translate: 5vh 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
