.container{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoPic{
    height: 50px;
    width: auto;
}

.logoText{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin: auto auto auto 5px;
    color: var(--white);
}
a.logo{
    text-decoration: none;
    display: flex;
}

.link{
    margin-left: 40px;
    color: var(--white);
    text-decoration: none;
}